
.top10 {
    color: purple;
    margin-left: 30px;
    }

ul {
    display: block;
    list-style-type: none;
    }

.drama1 {
    background-color:aliceblue;
    padding: 5px;
    margin: auto;
    }

.drama2 {
    background-color: antiquewhite;
    padding: 5px;
    margin-right: auto;
    }

.drama3 {
    padding: 5px;
    margin: auto;
    background-color:aliceblue;
    }

.drama4 {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    }

.drama5 {
    padding: 5px;
    margin: auto;
    background-color:aliceblue;
    }

.drama6 {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    }

.drama7 {
    padding: 5px;
    margin: auto;
    background-color:aliceblue;
    }

.drama8 {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    }

.drama9 {
    padding: 5px;
    margin: auto;
    background-color:aliceblue;
    }

.drama10 {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    }

.dramalist {
    display: block;
    background-size: 50% auto;
    width: 50%;
    text-align: center;
    margin-left: 10px;
    padding-left: 10px;
}
p {
    margin-left: 20px;
}