h1 {
    color: blue;
    margin-left: 5%;
    }

div.dramalist {
    display: block;
    background-size: 50% auto;
    width: 50%;
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    }
p {
    margin-left: 8%;
    padding: 5px;
    }
.top10 {
    color: hotpink ;
    margin-left: 15%;
    }

ul {
    display: block;
    list-style-type: none;
    }

.drama1 {
    background-color:aliceblue;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    }

.drama2 {
    background-color: antiquewhite;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-right: auto;
    }

.drama3 {
    padding: 5px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    background-color:aliceblue;
    }

.drama4 {
    background-color: antiquewhite;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    }

.drama5 {
    padding: 5px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    background-color:aliceblue;
    }

.drama6 {
    background-color: antiquewhite;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    }

.drama7 {
    padding: 5px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    background-color:aliceblue;
    }

.drama8 {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    }

.drama9 {
    padding: 5px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    background-color:aliceblue;
    }

.drama10 {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    }
